.main {
  background-color: rgb(239, 240, 240);
  display: wrap;
  margin-bottom: 40px;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 70px;
}

.main__title {
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.article {
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.article__image {
  height: 40%;
  width: 40%;
}

.article__p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: justify;
}

.article__link {
  color: black;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}


@media only screen and (min-width: 768px) {

  .main {
    background-color: rgb(239, 240, 240);
    display: wrap;
    margin-bottom: 40px;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 70px;
  }

  .main__title {
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  .article {
    text-align: center;
    justify-content: center;
    padding: 10px;
  }

  .article__image {
    height: 30%;
    width: 30%;
  }

  .article__p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: justify;
  }

  .article__link {
    color: black;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
  }
}

@media only screen and (min-width: 900px) {

  .main {
    background-color: rgb(239, 240, 240);
    border: 1px solid gray;
    display: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-top: 80px;
    padding: 10px;
    width: 60%;
  }

  .main__title {
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  .article {
    padding: 10px;
  }

  .article__image {
    height: 400px;
    width: 250px;
  }

  .article__p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: justify;
  }

  .article__link {
    color: black;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
  }
}

@media only screen and (min-width: 1000px) {

  .main {
    background-color: rgb(239, 240, 240);
    border: 1px solid gray;
    display: wrap;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-top: 80px;
    padding: 10px;
    width: 60%;
  }

  .main__title {
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  .article {
    padding: 10px;
  }

  .article__image {
    height: 400px;
    width: 250px;
  }

  .article__p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: justify;
  }

  .article__link {
    color: black;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
  }
}

@media only screen and (min-width: 1210px) {

  .main {
    background-color: rgb(239, 240, 240);
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-left: 220px;
    margin-top: 80px;
    padding: 10px;
    width: 60%;
  }

  .main__title {
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  .article {
    column-count: 2;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
  }

  .article__image {
    height: 400px;
    margin-left: 50px;
    width: 250px;
  }

  .article__p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: justify;
  }

  .article__link {
    color: black;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
  }
}

